<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Authors</title>
</head>

<body>
  <h1>Authors</h1>
  <div class="container">
    <% for(var i = 0; i<author.length; i++){ %>
      <div class="card">
        <h3> <%= author[i].name %></h3>
        <b><%= author[i].bio %></b>
        <br>
        <h6><a class="delete-author" href="/del/author/<%= author[i].id %>">Delete Author</a></h6>
      </div>

      <% } %>
  </div>

  <a href="/books">
      <button type="button" name="index">Home Page</button>
      </a>



</body>

</html>
