<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Book</title>
    <link rel="stylesheet" href="../styles.css">
    <style media="screen">
        .container{
          display: flex;
        }
        .card{
          margin:10px;
          text-align: center;
          flex:1;
          border: 1px solid black;
        }
      </style>
  </head>
  <body>

    <h1>New Book</h1>
    <form action="/newBook" method="POST">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="title" placeholder="IMG Url">
      <input type="text" name="title" placeholder="Description">
      <input type="text" name="title" placeholder="Author">
      <input type="submit" value="Create">
    </form>

    <a href="/newAuthor">
    <button type="button" name="button">Add a new author</button>
    </a>



  </body>
</html>
