<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
<!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- Style sheet link -->
  <link rel="stylesheet" href="css/styles.css">

<!-- Google Fonts Link -->
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900" rel="stylesheet">

<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>New Book</title>

</head>

<body class="newBook">

  <!-- Home page link -->
  <a href="/books">
    <button class="homeBtn" type="button" name="home"> <i class="fa fa-home" aria-hidden="true"></i> </button>
  </a>

  <br>

  <h1>New Book</h1>

  <!-- New book form -->
  <form action="/newBook" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <br>
    <input type="text" name="imgURL" placeholder="Image Url" required>
    <br>
    <input type="text" name="description" placeholder="Description"required>
    <br>
    <!-- Loop of authors -->
    <select class="" name="" requried>
      <option disabled selected value="">Author</option>
      <% for(var i = 0; i< author.length; i++){ %>
      <option value="<%= author[i].id %>">
          <%= author[i].name %>
      </option>
      <% } %>
    </select>

    <br>

    <input class="createBtn" type="submit" value="Create">
  </form>

<!-- Add a new author link -->
  <a href="/newAuthor">
    <button class="newAuthorBtn" type="button" name="button">Add New Author</button>
    </a>



</body>

</html>
